data/.DS_Store
data/acs_data_5y_2016.csv
data/acs_data_5y_2018.csv
data/acs_data_5y_2021.csv
data/acs_evic_data_21cols.csv
data/acs_evic_data_np_wo_zero_pop.csv
data/acs_evic_data_wo_zero_pop.csv
data/acs_evic_data.csv
data/adjacency_matrix.csv
data/eviction_count_bg_2019.geojson
data/eviction_count_bg.csv
data/eviction_count_bg.geojson
data/EvictionRecords_Master.csv
data/tl_2019_48_bg/tl_2019_48_bg.cpg
data/tl_2019_48_bg/tl_2019_48_bg.dbf
data/tl_2019_48_bg/tl_2019_48_bg.prj
data/tl_2019_48_bg/tl_2019_48_bg.shp
data/tl_2019_48_bg/tl_2019_48_bg.shp.ea.iso.xml
data/tl_2019_48_bg/tl_2019_48_bg.shp.iso.xml
data/tl_2019_48_bg/tl_2019_48_bg.shx
data/eviction_count_bg_2021.geojson
data/tl_2021_48_bg/tl_2021_48_bg.cpg
data/tl_2021_48_bg/tl_2021_48_bg.dbf
data/tl_2021_48_bg/tl_2021_48_bg.prj
data/tl_2021_48_bg/tl_2021_48_bg.shp
data/tl_2021_48_bg/tl_2021_48_bg.shp.ea.iso.xml
data/tl_2021_48_bg/tl_2021_48_bg.shp.iso.xml
data/tl_2021_48_bg/tl_2021_48_bg.shx
data/temp_to_compare_2016.csv
.gitignore
data/temp_to_compare_2021.csv
random_projection_practice.R
final_project_wzj5097.R
temp.R
data/df_amenity_2021_lab_01bbox_2.csv
data/df_amenity_2021_lab_01bbox.csv
create_bbox_temp.ipynb
df_bbox_0.csv
df_bbox_1.csv
df_bbox_2.csv
data/df_95ci_nonpayment.csv
data/df_geom_nonpayment.csv
data/df_bbox_01mile_geoid.csv
data/df_bbox_01mile_geoid.geojson
data/sglmm_results_other.csv
data/df_geom_final_other.csv
data/results/df_95ci_final_nonpayment.csv
.gitignore
.gitignore
data/results/df_samples_orig_final.csv
data/results/sglmm_results_other.csv
data/results/df_geom_final_other.csv
data/results/df_geom_final_nonpayment.csv
data/df_geom_final_other.csv
data/results/df_95ci_final_other.csv
data/acs_data_5y_2021_revised.csv
data/eviction_count_bg_2021_for_removed_cbg.csv
data/results/df_95ci_other_final_2.csv
data/results/df_geom_other_final_2.csv
data/results/df_samples_other_final_2.csv
data/results/fit_other_final.rds
data/df_95ci_nonpayment_final_2.csv
data/results/fit_nonpayment_final.rds
data/results/df_95ci_nonpayment_final_2.csv
data/figures/fig_results.png
results_visualization.pdf
figures_eviction_study.pptx
~$figures_eviction_study.pptx
data/results/df_geom_nonpayment_final_2.csv
data/dallas_top_filers.csv
.gitignore
data/df_other_100_filer.csv
data/df_nonpay_100_filer.csv
fig_nonpayment_se.pdf
.gitignore
data/figures/fig_spatial_effect.png
.gitignore
data/figures/fig_spatial_effict.png
fig_other_se.pdf
fig_other_se2.pdf
data/results/df_95ci_other_final_3.csv
data/results/df_geom_other_final_3.csv
data/results/df_samples_other_final_3.csv
data/results/fit_other_final3.rds
data/results/df_95ci_nonpayment_final_3.csv
data/results/df_geom_nonpayment_final_3.csv
data/results/fit_nonpayment_final3.rds
data/figures/fig_results_rev.png
data/figures/fig_results_rev.png
data/results/fit_other_final4.rds
data/figures/fig_results_rev.png
